/* index.css */
.bigCounter {
  text-align: center;
  background: black;
  position: relative;
  z-index: 1;
}

.bigCounter div {
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  background: #101010;
  color: white;
  padding: 10px;
  margin: 3px;
  position: relative;
  z-index: 2;
}

.error-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: red;
  color: white;
  z-index: 0;
}
